
/* Links */
a,
a:focus,
a:hover {
  color: #337AB7;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

a:focus,
a:hover {
  opacity: .7;
  text-decoration: none;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: white;
}
body {
  font-family: Roboto, sans-serif, white;
  color: #f1f1f1;
  text-align: center;

}

/*
 * Header
 */

ul.hr {
  margin-top: 25px;
  margin-right: 10px;

}
ul.hr li {
  display:inline-block;
  padding: 3px;
}


/*
 * Input Forms
 */


input, select {
  size: 150px;
  height: 30px;
  width: 150px;
  font-family: Roboto, sans-serif;
  text-shadow: none;
  padding: 3px;
  color: rgba(0, 0, 0, 0.4);

  border: 5px #BC9A3C;
  border-radius: 4px;
  background-color: #f1f1f1;
}


/* Custom default button */
.btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn1 {
  color: #BC9A3C;
  text-shadow: none;
  font-size: 100%;
  background-color: transparent;
  border: 1px solid #BC9A3C;
  min-height: 40px;
  min-width: 150px;
  max-width: 150px;
  border-radius: 2px;
}

/*Information fonts*/

.cover-heading, lead, clock {
  color: #f1f1f1;
}


/*Input forms to both pages*/

.order-form {
  margin: 0 auto;
  display: table;
}

.table-form {
  display: table;
}

.input {
  display: table-cell;
  vertical-align: middle;
}

.select {
  display: table-cell;
  vertical-align: middle;
}

.check-text {
  color: #f1f1f1;
  margin-top: 10px;
}

.search-form {
  display: table;
  margin: 0 auto;
}

.inputSearch {
  display: table-cell;
  vertical-align: middle;
  padding: 3px;
  height: 60px;
  width: 150px;
}

.selectSearch {
  display: table-cell;
  vertical-align: middle;
  padding: 3px;
  height: 60px;
  width: 150px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  position:relative;
}
.cover-container {

}

 Padding for spacing
.inner {
   padding: 30px;
   margin-top: 30px;
}


/*.masthead-nav > li,*/
/*.masthead-brand > li {*/
/*  display: inline-block;*/
/*}*/
/*.masthead-nav > li + li,*/
/*.masthead-brand > li + li {*/
/*  margin-left: 20px;*/
/*}*/

/*.masthead-nav > li > a,*/
/*.masthead-brand > li > a {*/
/*  padding-right: 0;*/
/*  padding-left: 0;*/
/*  font-size: 28px;*/
/*  font-weight: bold;*/
/*  color: #fff;*/
/*}*/

/*.masthead-nav > li > a:hover,*/
/*.masthead-nav > li > a:focus,*/
/*.masthead-brand > li > a:hover,*/
/*.masthead-brand > li > a:focus {*/
/*  background-color: transparent;*/
/*  color:#fff;*/
/*}*/

.masthead a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/* VIDEO BACKGROUND */

.video-background {
  z-index:550;
  text-align:center;
  height:100%;
  min-height:100%;
  position:relative;
  overflow:hidden
}

.video-background .video-background-container {
  width:830px;
  max-width:100%;
  display:inline-block;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%)
}

.video-background-title {
  font-size:78px;
  color:#fff;
  font-weight:300;
  text-transform:uppercase;
  text-align:center;
  margin-bottom:22px;
  padding-top:20px;
  display:inline-block;
  background-attachment:scroll;
  background-repeat:repeat-x;
  background-position:top center
}

.video-background-default-image {
  background:url(../imgs/cover.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  width:100%;
  height:100%;
  z-index:0;
  backface-visibility:hidden
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

/*
 * Cover
 */

.cover {
  padding: 15px 50px;
  font-weight: bold;
}

.cover-heading {
  font-size: 30px;
  padding-bottom: 30px;
}

.logo {
  width:200px;
  height:69px;
  position: center;
  top:30px;
}

.logo1 {
  width:100%;
  height:100%;
  position: center;
  top:30px;
}

.input-form {
  opacity: 0.7;
  padding: 10px;
}

.lead {
  padding: 20px;
  color: #f1f1f1;
}

.lead1 {
  color: #f1f1f1;
}

small {
    color:#ccc!important;
}

#clock div {
  display: inline-block;
  color: #f1f1f1;
  font-size: 10px;
  font-weight: 600;
  margin:0 8px 20px 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
}

#clock span {
    display: block;
    font-size: 32px;
    font-weight: 100;
    padding: 30px 0;
    border-bottom: 1px solid #fff;
}

/*
 * Footer
 */

.mastfoot {
  margin-top: 30px;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: center;
    margin: 0 auto;
    margin-top: 30px;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
  .cover-heading {
    font-size: 40px;
  }
    #clock span {
        font-size: 72px;
        padding: 30px 0;
    }
    #clock div {
        margin:0 25px 30px 25px;
        line-height: 60px;
        font-size: 14px;
    }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    max-width: 800px;
  }
  .masthead {
    max-width: 100%;
     }
}