<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BEEFLY TICKET STORE</title>

    <!-- Custom styles for this template -->
    <link href="/css/style.css"  rel="stylesheet" type="text/css">

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<body>

<div class="site-wrapper video-background">
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=gS_R8Ub9HuE', containment:'body', autoPlay:true, mute:true, startAt:1, stopAt: 480, quality:'small', opacity:1, }"></a>

    <div class="overlay"></div>
    <div class="site-wrapper-inner">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><i class="fa fa-phone fa-fw"><a href="tel:1234567890"/></i> (123) 456-7890<br><small> позвоните нам <i class="fa fa-level-up"></i></small></a></h3>
                    <nav class="masthead-nav">
                        <ul class="hr">
                            <li><a href="https://twitter.com/jenyelkind"> <img class="logo1" src="/imgs/twitter.png"></a></li>
                            <li><a href="https://www.facebook.com/jenyelkind"> <img class="logo1" src="/imgs/fblogo.png"></a></li>
                            <li><a href="https://plus.google.com/+JenyElkind/"> <img class="logo1" src="/imgs/google+.png"></a></li>
                            <li><a href="mailto:elkind@elkind.net"> <img class="logo1" src="/imgs/email.png"></a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class=" ">
            <div class="inner cover" style="margin-top: 100px">
                <img class="logo" src="/imgs/logobee.png">
                <h1 class="cover-heading"> <i class="fa fa-clock-o fa-fw"></i> BT443 10:00 St Petersburg (Pulkovo) (LED) – 11:20 Riga (RIX)</h1>
                <p class="lead">ДАТА ВЫЛЕТА: 11 Thu-Nov-2019 ДАТА ПРИЛЁТА: 11 Thu-Nov-2019 </p>

                {{#clients}}
                <div>
                    <span style="color: #f1f1f1"> {{firstName}}</span>
                    <i style="color: #f1f1f1"> {{lastName}}</i>
                    <span style="color: #f1f1f1"> {{nationality}}</span>
                    <span style="color: #f1f1f1"> {{sex}}</span>
                    <span style="color: #f1f1f1"> {{birthDate}}</span>
                    <span style="color: #f1f1f1"> {{passNumber}}</span>
                </div>
                {{/clients}}


                <form method="get">
                <p class="btn"><button class="btn1" type="submit">CORRECT</button></p>
                </form>

            </div>
            </div>

        <div class="mastfoot">
            <div class="inner">
                <p>Copyright &copy; <a href="/">BEEFLY LTD</a></p>
                <p>Cover template by <a href="http://forbetterweb.com/">ForBetterWeb</a></p>
            </div>
        </div>
    </div>

</div>
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1057679-2', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>